 body {
    font-family: 'Poppins', sans-serif;
    margin: 0%;
 }

 h1 {
    font-size: 40px;


 }

 .kk {
    color: rgb(252, 210, 22);
 }

 p {
    font-family: Roboto Condensed;
    font-weight: 25px;
 }

 section {
    display: flex;
    margin-bottom: 140px;
 }

 .me {
    width: 50%;
    padding-left: 5%;


 }

 .me img {
    width: 75%;

 }

 .tt {
    text-decoration: none;
    background-image: linear-gradient(rgba(235, 145, 26, 0.877), rgb(209, 111, 65));
    padding: 12px 20px;
    border-radius: 7px;
    font-weight: 900;
    color: rgb(255, 255, 255);

 }