 body {
    font-family: 'Poppins', sans-serif;
    margin: 0%;
 }

 h1 {
    font-size: 40px;


 }

 .kk {
    color: rgb(252, 210, 22);
 }

 p {
    font-family: Roboto Condensed;
    font-weight: 25px;
 }

 section {
    display: flex;
    margin-bottom: 140px;
 }

 .me {
    width: 50%;
    padding-left: 8%;
    background-image: url('./images/Circuit d.png');
    background-repeat: no-repeat;
    background-position-x: right;
    background-size: 150px;

 }

 .me img {
    width: 70%;

 }



 .tt {
    text-decoration: none;
    background-image: linear-gradient(rgba(235, 145, 26, 0.877), rgb(209, 111, 65));
    padding: 12px 20px;
    border-radius: 7px;
    font-weight: 900;
    color: rgb(255, 255, 255);

 }

 .be {
    background-image: url('./images/Edit image.png');
    background-repeat: no-repeat;
    background-size: contain;
    height: 140px;
    width: 50%;
    padding-left: 7%;
 }

 .love {
    background-image: url('./images/Editing.png');
    background-repeat: no-repeat;
    background-position-y: 100%;
    background-position-x: right;
    background-size: 160px;
    height: 460px;
    width: 50%;
    padding-right: 15%;
 }

 .he {
    background-image: url('./images/Double circle.png');
    background-size: 90px;
    background-repeat: no-repeat;
    width: 50%;
    padding-left: 9%;

 }

 .he img {
    width: 80%;
 }



 .bo {
    text-decoration: none;
    color: rgb(247, 139, 15);
    text-emphasis: 10px;
 }